<form [formGroup]="bookForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <select formControlName="status" placeholder="Select">
        <option [value]="bookStatus" *ngFor="let bookStatus of bookStatusList">
          {{ bookStatus }}
        </option>
      </select>
    </mat-form-field>
    <input type="checkbox" formControlName="isFavorite" id="bookIsFavorite" />
    <label for="bookIsFavorite"> isFavorite</label>
  </div>
  <button mat-raised-button color="primary" (click)="clickButton()">登録</button>
</form>
