<form [formGroup]="bookForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Select">
        <mat-option [value]="bookStatus" *ngFor="let bookStatus of bookStatusList">
          {{ bookStatus }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isFavorite">isFavorite</mat-checkbox>
  </div>
  <button mat-raised-button color="primary" (click)="clickButton()">登録</button>
</form>
